@import 'variables';

:host {
  nav {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 80px 230px auto;
    grid-template-areas: "logo company title";
  }

  display: block;

  .logo {
    grid-area: logo;
    padding: 10px;
    img {
      height: 60px;
      widows: 60px;
    }
  }

  .company {
    grid-area: company;
    padding: .2em;
    padding: 10px;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.781);
  }

  .links {
    grid-area: title;
    padding: .2em;
    font-size: 3em;
    text-align: right;
    height: 100%;
    color: rgba(255, 255, 255, 0.781);
  }
}