<div class="splash-area">
  
  <cmd-console [config]="consoleConfig"></cmd-console>

  <div class="body-text">
    <!-- <h2>Crypto crash course</h2> -->
    <!-- <p>
      CryptoCurrencies have been around since 1980, believe it or not. While they have thrived in various subcultures, it didn’t become a mainstream trend until bitcoin made its appearance. If someone had put $1 into bitcoin in early July of 2010 and sold it today, they would have $13,750,000 in the bank. 
    </p>
    <p>
      While trading cryptocurrencies is profitable, there is another aspect to this new wave of digital assets that many were not aware of. It is just as profitable, but a little more predictable. This is called mining. While the term seems a little confusing at first it’s actually a pretty simple concept. 
    </p>
    <p>
      Mining computers serve as auditors who don’t require pay or rest. When a crypto transaction is conducted, there needs to be some verification that it has happened. These transactions are added to a ledger after being verified using a measurably difficult algorithm. This ledger is called a blockchain. Every mining computer has a copy of the blockchain, and they all make sure nothing changes that shouldn’t. As a reward for verifying these transactions the parties who run the mining machines get a portion of the currency they are mining. 
    </p> -->
  
    <img class="mining-graphic" src="\assets\images\explain-transparent.png" />
  </div>

</div>