@import 'variables';
@import 'helpers';
@import 'functions';

:host {
  display: block;
  background-color: $light-grey;
  @extend .container;

  max-width: none;
  padding: 0;

  .splash-area {
    background-color: rgba(0, 255, 255, 0.356);

    background-image: image('datafarm.jpg', $base-url);
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;

    .overlay {
      background-color: rgba(34, 33, 33, 0.774);
      height: 100%;
      width: 100%;

      padding: 40px;
    }
  }

  .body-text {
    padding: 40px;

    img {
      padding-top: 20px;
      width: 100%;
    }
  }
}