@import 'variables';
@import 'helpers';
@import 'functions';

:host {
  display: block;
  @extend .container;

  max-width: none;
  padding: 0;

  .splash-area {
    height: 100%;
    display: grid;
    grid-template-columns: 350px 30px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "console . body";

    app-cmd-console {
      grid-area: console;
    }

    .body-text {
      grid-area: body;
      overflow: hidden;
      height: 85vh;
      padding: 40px;
      background-color: rgba(231, 231, 231, 0.386);
      color: rgba(0, 0, 0, 0.767);
      font-weight: 600;
      
      img {
        height: 80vh;
      }
    }
  }
}